*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-common:hover{
    color: white;
    background-color: #378056;
}

.btn-common{
    padding: 12.5px 16px;
    background-color: #469165;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}



/* Navigation Bar */

nav{
    display: flex;
    width: 85%;
    max-width: 1360px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
    font-weight: 500;
    font: 16px;
}
nav button a{
    text-decoration: none;
    color: white;
}

nav button a:hover{
    text-decoration: none;
    color: white;
}
nav a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* Hero Section */

.hero-container{
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding-top: 115.5px;
    padding-bottom: 179.5px;
    text-align: center;
}

.early-access{
    background-color: white;
    padding: 8px 12px;
    display: inline-block;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 600px;
    color: #469165;
    margin-bottom: 16px;
}
.early-access img{
    height: 16px;
    width: 16px;
    align-self: center;
}

.head{
    font-size: 72px;
    font-weight: bold;
    color: white;
    line-height: 84px;
    margin-bottom: 16px;
}

.head span{
    color: #30B868;
}

.text{
    color: white;
    line-height: 24px;
    margin-bottom: 32px;
}

.btn1{
    padding: 12.5px 16px;
    background-color: transparent ;
    border-radius: 4px;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.button{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.button a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.button .btn1:hover{
    background-color: #dcdcdc1f;
}


/* Notes Section */

.notes-container h2{
    font-size: 48px;
    margin-bottom: 16p;
}

.notes-failures{
    text-align: center;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
.contents h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.contents{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}

.card-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
    width: 100%;
}

.card-container h3{
    font-size: 24px;
    margin-bottom: 16px;
}

.card-container p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    vertical-align: baseline;
}

.circle{
    background-color:#F95555;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 16px;
}
.circle img{
    display: block;
    height: 32px;
    width: 32px;
}
.card{
    border-radius: 8px;
    padding: 40px 24px;

    box-shadow: 0 0 8px #00000010;
}

/* second brain section */

.solution-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    padding-top: 120px;
    padding-bottom: 120px;
    align-items: center;
    gap: 60px;
}

.line1{
    font-size: 16px;
    color: #30B868;
    margin-bottom: 16px;
    font-weight: 500;
}

.solution-container h2{
    font-size: 48px;
    margin-bottom: 16px;
}

.info{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.solution-container li{
    list-style: none;
    font-size: 16px;
    margin-bottom: 16px;
    color: #001931;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 6px;
}


/* Call to action */

.cta-section{
    padding-bottom: 120px;
}

.cta{
    width: 85%;
    text-align: center;
    background-color: #F7F6F2;
    border-radius: 12px;
    padding: 80px 40px;
    max-width: 1360px;
    margin: 0 auto;
}

.cta-container h2{
    font-size: 40px;
    color: #001931;
    margin-bottom: 16px;
}

.cta-container p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 24px;
}
.cta-container button{
    margin-bottom: 16px;
}

.cta-container a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}


/* footer */

footer{
    background-color: #001931;
    width: 100%;
    color: white;
    align-content: center;
}

.footer-container{
    padding: 120px 120px 30px;
}

.logo-links{
    display: flex;
    justify-content: flex-start;
    gap: 1001px;
    padding-bottom: 80px;
    align-items: center;
    margin: 0 auto;

}

.logo-links img{
    height: 60px;
    width: 139px;
}

.footer-container hr{
    color: #E5E7EB;
    border: 0px;
    border-top: 1px solid #2D3748;
}

.footer-container p{
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
}
.footer-container .socials img{
    height: 20px;
    width: 20px;
}
.socials p{
        padding-bottom: 16px;
}
.socials .logo{
    display: flex;
    gap: 16px;
}


